<a href="https://colab.research.google.com/github/hamusita/ML/blob/main/NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [33]:
df = pd.read_csv(r"/content/drive/My Drive/Colab Notebooks/titanic.csv", sep="\t")[2:]

In [34]:
df.tail(10)

     status    age     sex survived
2193   crew  adult  female      yes
2194   crew  adult  female      yes
2195   crew  adult  female      yes
2196   crew  adult  female      yes
2197   crew  adult  female      yes
2198   crew  adult  female      yes
2199   crew  adult  female      yes
2200   crew  adult  female       no
2201   crew  adult  female       no
2202   crew  adult  female       no

In [28]:
from sklearn.preprocessing import LabelEncoder

label_En = LabelEncoder()
for label in df.columns.to_list():
  print(label)
  df[label]= label_En.fit_transform(df[label])

status
age
sex
survived

In [29]:
x = df.drop(['survived'] , axis=1 )
y = df["survived"]

In [30]:
from sklearn.model_selection import train_test_split
x_tr, x_te, y_tr, y_te = train_test_split(x, y, train_size=0.7, random_state=0)

In [31]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_tr, y_tr)
print("train score : {:.3f}".format(gnb.score(x_tr, y_tr)))
print("test score : {:.3f}".format(gnb.score(x_te, y_te)))

train score : 0.779
test score : 0.761